body{
    width: 100%;
    height: 100vh;
    background-image: url(four\ people\ toast\ with\ glasses\ of\ coffee\ sitting\ at\ a\ table\,\ in\ the\ style\ of\ dark\ indigo\ and\ maroon\,\ stockphoto\,\ softly\ organic\,\ dark\ brown\ and\ white\,\ swirling\ vortexes\,\ crisp\ and\ delicate\,\ smooth\ and\ shiny.png);
    background-position: center;
    background-size: cover;
 
}
